<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viktorija.inventoryapp">

    <!-- Permission to access photo gallery for selecting product photos -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Permission to be able to call supplier -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProductCatalogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductDetailsActivity"
            android:label="@string/product_details"
            android:parentActivityName=".ProductCatalogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProductEditorActivity"
            android:parentActivityName=".ProductCatalogActivity"
            android:theme="@style/EditorTheme" />
        <provider
            android:name=".data.ProductProvider"
            android:authorities="com.viktorija.inventoryapp"
            android:exported="false" />
    </application>

</manifest>